<a href="https://colab.research.google.com/github/wlghksx/Git-Tutorial/blob/master/colab_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

셀 추가/삭제

코드 셀 위로 삽입 (Ctrl + m a)

코드 셀 아래로 삽입 (Ctrl + m b)

코드 셀 삭제(Ctrl + m d)

코드 셀 텍스트 셀로 변경(Ctrl + M m)

[실행 관련 단축키]

1. 셀 실행 후 커서 해당 셀(Ctrl + Enter)
2. 셀 실행 후 커서 다음 셀(Shift + Enter)
3. 셀 실행 후 커서는 다음에 셀 삽입(Alt + Enter)

## 파일 업로드 하기

방법 1

In [5]:
from google.colab import files
myfile = files.upload()

Saving Boston_house.csv to Boston_house.csv

In [6]:
import io
import pandas as pd

In [7]:
data = pd.read_csv(io.BytesIO(myfile['Boston_house.csv']))

In [8]:
data.head()

    AGE       B     RM     CRIM     DIS  ...  RAD    ZN  TAX  CHAS  Target
0  65.2  396.90  6.575  0.00632  4.0900  ...    1  18.0  296     0    24.0
1  78.9  396.90  6.421  0.02731  4.9671  ...    2   0.0  242     0    21.6
2  61.1  392.83  7.185  0.02729  4.9671  ...    2   0.0  242     0    34.7
3  45.8  394.63  6.998  0.03237  6.0622  ...    3   0.0  222     0    33.4
4  54.2  396.90  7.147  0.06905  6.0622  ...    3   0.0  222     0    36.2

[5 rows x 14 columns]

방법 2. 드라이브에서 가져오기

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
filename = '/content/Boston_house.csv'
# 파일에서 우클릭 후 경로 복붙

In [13]:
data = pd.read_csv(filename)

In [14]:
data.head()

    AGE       B     RM     CRIM     DIS  ...  RAD    ZN  TAX  CHAS  Target
0  65.2  396.90  6.575  0.00632  4.0900  ...    1  18.0  296     0    24.0
1  78.9  396.90  6.421  0.02731  4.9671  ...    2   0.0  242     0    21.6
2  61.1  392.83  7.185  0.02729  4.9671  ...    2   0.0  242     0    34.7
3  45.8  394.63  6.998  0.03237  6.0622  ...    3   0.0  222     0    33.4
4  54.2  396.90  7.147  0.06905  6.0622  ...    3   0.0  222     0    36.2

[5 rows x 14 columns]

ipynb를 깃허브에서 바로 코랩으로 열고자 할 때

0. 레퍼지토리에서 ipynb파일까지 접속
1. github.com -> github로 변경
2. 새 탭에서 colab.research.google.com/github~ 로 변경